.page {
  min-height: 100vh;
  background-color: #f2f2f2;
  padding: 0 30rpx;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  .pannel {
    margin-bottom: 30rpx;
    display: flex;
    flex-direction: column;
    .pannel-inner {
      flex: 1;
      padding: 20rpx 0;
    }
  }
  .search-btn {
    color: #d13435;
    &::after {
      border-color: #d13435;
    }
  }
  .search-full-btn {
    color: #fff;
    background-color: #d13435;
    &::after {
      border-color: #d13435;
    }
  }

  

  .search-textonly-btn {
    color: #d13435;
    background: none;
    padding: 0 0!important;
    &::after {
      border: none;
    }
  }
}
