# Windows
[Dd]esktop.ini
Thumbs.db
$RECYCLE.BIN/

# macOS
.DS_Store
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes

# Node.js
node_modules/

# 二进制压缩包
*.rar
*.zip

# 文档构建缓存
doc/.vitepress/cache/

demo/uniapp/dist/