.nav-bar {
  position: relative;

  .nav-bar-inner {
    display    : flex;
    align-items: center;
    box-sizing : border-box;
    position   : relative;
  }

  .action {
    position   : absolute;
    width      : 40rpx;
    height     : 40rpx;
    margin-left: 24rpx;


    .line {
      width              : 24rpx;
      height             : 4rpx;
      background-color   : #fff;
      position           : absolute;
      left               : 50%;
      top                : 50%;
      transform-origin   : 0 center;
      // border-radius   : 0 50px 50px 0;
      margin-top         : 0rpx;
      transform          : translate(-40%, -50%) rotate(45deg);

      &+.line {
        margin-top: 0.5rpx;
        transform : translate(-40%, -50%) rotate(-45deg);
      }
    }

  }

  .content {
    text-align: center;
    width     : 100%;
    font-size : 34rpx;
  }
}