.page {
  height             : 100vh;
  background-color   : #f2f2f2;
  // padding         : 0 30rpx;
  overflow           : hidden;
  display            : flex;
}

.pannel {
  flex          : 1;
  margin-bottom : 30rpx;
  display       : flex;
  flex-direction: column;
}

.pannel .pannel-inner {
  flex   : 1;
  padding: 0;
}

/* 列表项自定义结构样式 */
.item {
  padding: 30rpx 0 0;
  margin : 0 30rpx;
  width  : calc(100vw - 60rpx);
}

.item-image {
  display   : block;
  width     : 100%;
  height    : 300rpx;
  /* display: block; */
}

.item-title {
  font-size       : 32rpx;
  line-height     : 3em;
  background-color: #fff;
  padding         : 0 30rpx;
}

.header {
  background-color: #fff;
  /* box-shadow   : 0 0 5px #ccc; */
}

/* empty组件可冲突样式 */
.empty-img {
  width: 40vw !important;
}

.empty-text {
  color: #666 !important;
}

.search {
  padding      : 20rpx 30rpx;
  border-bottom: 1px solid #eee;

  .search-btn {
    color           : #fff;
    background-color: #d13435;

    &::after {
      border-color: #d13435;
    }
  }
}

.backToTop {
  background-color: #d13435 !important;
}