/**
 * HBuilderX 默认工程的全局 scss 变量表。
 * 本组件库不依赖这里的变量（组件样式都是自包含的），保留是为了方便你在示例里扩展。
 */

$uni-color-primary: #007aff;
$uni-color-success: #4cd964;
$uni-color-warning: #f0ad4e;
$uni-color-error: #dd524d;

$uni-text-color: #333;
$uni-text-color-grey: #999;
$uni-bg-color: #ffffff;
$uni-bg-color-grey: #f8f8f8;
$uni-border-color: #e5e5e5;
